body{
    margin: 0;
    padding: 0;
    background: rgb(106,126,252);
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
.header__container{
    margin-right: 25px;
}

.header--img{
    height: 55px;
    width: 55px;
    margin-left: 15px; 
}

.header__container--menu{
    margin-right: 25px;
}

.header__container ul{
    display: none;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0 0 0 -24px;
    width: 120px;
    position: absolute;
    text-align: right;
    
}

.header__container:hover ul, ul:hover{
    display: block;
}

.header__container li{
    margin: 0 20px 10px 0 ;
}

.header__container a{
    text-decoration: none;
    color: black;
}

.header__container a:hover{
    color: #e6639b;
    text-decoration: underline;
}

.header__container--menu{
    display: flex;
    margin: 0 0 5px 0;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

.main h2{
    color: black;
}

.main__input{
    background: rgba(240, 94, 228, 0.459);
    height: 20px;
    border-radius: 20px ;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.carousel{
    width: 100%;
    /*Si se exede se crea una barra de navegacion*/
    overflow: scroll;
    position: relative;
    overflow-x: scroll ;
    overflow-y: hidden;
}

.carousel__container{
    white-space: nowrap;
    width: auto;
    margin: 50px 0 50px 10px;
}
.carousel--item{
    width: 200px;
    height: 250px;
    display: inline-block;
    overflow:hidden;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: 450ms;
    transform-origin: left;
    background: blue;  
}

.carousel--item:hover ~ .carousel--item{
    transform: translate3d(50px, 0, 0);
}

.carousel__container:hover .carousel--item{
    opacity: 0.3 ;
}

.carousel__container:hover .carousel--item:hover{
    opacity: 1;
    transform: scale(1.25);
}

.carousel--item img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}


.carousel--item-deteail{
    opacity: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #42daee;
    background: linear-gradient( rgba( 255,255,255,0.5) , rgba(0, 0, 0, 0.6));
}
.carousel--item-deteail:hover{
    opacity: 1;
}

.carousel--item-deteail img{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.carousel--item-deteail h4,
.carousel--item-deteail h4{
    margin: 0 0 3px 5px;
    padding: 0;
}